
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
body div {
        height: 300px;
        width: 25%;
        overflow: hidden;

        margin: 5px;
        padding: 5px;
        text-align: left;

        font-weight: 400;
        font-size: 24px;

}

/* Orange, Green, Yellow, Blue */

#one {
        border: 5px solid blue;
        position: absolute;
        bottom: 0;
        right: 0;
}

#two {
        border: 5px solid green;
        position: absolute;
        top: 0;
        right: 0;
}

#three {
        border: 5px solid darkorange;
        position: absolute;
        top: 0;
        left: 0;
}

#four {
        border: 5px solid yellow;
        position: absolute;
        bottom: 0;
        left: 0;
}


p {
        background-color: darkgreen;
        width: 100px;
        height: 60px;
        position: absolute;
        top: 50px;
        left: 45%;
        text-align: center;
        line-height: 50px;
        font-weight: 800;
        font-size: 24px;
}

p a {
        color: black;
        text-decoration: none;
}